@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");


body {
  margin: 0px;
  background-image: url("https://maven-uploads.s3.amazonaws.com/120386748/projects/netflix%20image.jpg");
}

#heading {
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#heading  a{
    text-decoration: none;
    color: white;
}
#heading img {
    width: 170px;
}
#heading button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
}
#heading button:hover {
    background-color: rgba(255, 0, 0, 0.774);
    cursor: pointer;
}
#main {
    color: white;
    height: 400px;
    text-align: center;
    font-family: Roboto;    
    
    margin-top: 80px;
}
h1 {
    font-size: 55px;
    width: 600px;
    margin: auto;
}

#p1 {
    font-size: 20px;
}
#p2 {
    font-size: 15px;
}

#fade { 
    background-color: rgba(0, 0, 0, 0.603);
    height: 100vh;
}

#emailform {

}
#email {
    padding: 14px;
    font-size: 15px;
    outline: none;
    border: none;
    width: 300px;
}
#btn {
    background-color: red;
    color: white;
    border: none;
    padding: 14px;
    font-size: 15px;
    margin-left: -4px;
  
}

#signin {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    font-family: "Roboto";
    gap: 10px;
    margin: auto;
    border-radius: 10px;
}
#signin h2 {
    text-align: left;
}

#signin input {
    background-color: rgba(128, 128, 128, 0.507);
    outline: none;
    padding: 10px;
    border: none;
    color: white;
}

#signin  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;

}
#signin  button:hover {
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row p {
    font-size: 14px;
}
.row label {
    font-size: 14px;
}
#signup button:hover{
    cursor: pointer;
    
}
#signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}